body{
    background-color: white;
    margin: auto;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
  
  /*-------------------------------------------- NAVBAR ----------------------------------------------- */
  .topnav {
    /* background-color: #037e6b; */
    background-color: #0097A7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    width: 100%;
    font-size: 1.1em;
    position: fixed;
    z-index: 2;
  }
  #contact-margin {
    margin-right: 50px;
  }
  .topnav_link {
    color: white;
    padding: 0 25px;
    text-decoration: none;
  }
  .topnav_link:hover {
    color: #00834b;
    text-shadow: 0.1px 0.1px 0.1px black;
  }
  #grid_connexion:hover{
    color: #00834b;
    text-shadow: 0.1px 0.1px 0.1px black;
  }
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (max-width: 1000px) {
    #title-moi{
      padding-top: 40px;
    }
    
    /* hide classic menu */
    #topnav_menu {
      display: none;
    }
    .topnav {
      font-size: 1em;
      position: relative fixed;
    }
    #root {
      position: relative;
      overflow-x: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 99;
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      min-width: 50vw;
      height: 45vh;
      padding: 60px 0 0;
      text-align: center;
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
      font-size: 1.1em;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
  
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
      z-index: 100;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #ededed;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
    }
  
    /* set the 3 spans position to look like a hamburger */
  
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
    }
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #333;
    }
  }