* {
    margin: 0;
}

html, body{
    height: 100%;
}
button{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: auto;
    background: rgb(233, 232, 232);
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
.button-di{
    background-color: #a71100;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px; */
}
.button-di:hover{
    background-color: #00834b;
}

.title-page{
    color: #00834b;
    font-size: 28px;
}
/* ----------------------------------- MAIN --------------------------------------------*/

#block-main{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 70vh;
    margin-bottom: 70px;
}

#presentation{
    margin-top: 30px;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#block-presentation-logo{
    display: flex;
    gap: 10px;
    text-align: justify;
    /* padding-left: 20px; */
}
#block-presentation-logo div{
    padding-top: 15px;
    width: 100%;
}

#jeu-principal{
    width: 50%;
    margin-top: 30px;
    text-align: center;
}
#imgjeux{
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
#accesjeux{
    font-size: 14px;
    margin-top: 20px;
    width: 30%;
    height: 30px;
    color: white;
}

#nouveautes{
    width: 16%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border: 1px solid black;
    background-color: #8f8989;
}
#nouveautes h1{
    font-size: 1.8em;
}
.separation-nouvelle{
    height: 2px;
    background-color: white;
    margin: 0 auto;
    width: 80%;
}

.nouvelle{
    width: 90%;
    font-size: 14px;
    color: black;
    height: 30%;
    margin: auto;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    align-items: center;
    background-color: rgb(233, 232, 232);
}

.nouvelle p{
    padding: 10px;
}

@media (max-width: 1000px){
    #block-main{
        flex-direction: column;
        padding-top: 50px;
        margin-bottom: 20px;
        height: auto;
        margin-left: 0;
    }
    #presentation{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    #block-presentation-logo{
        display: flex;
        gap: 5px;
        padding-left: 0px;
    }
    #block-presentation-logo div{
        width: 100%;
    }
    #jeu-principal{
        width: 100%;
    }
    #accesjeux{
        width: 90%;
        margin-bottom: 20px;
    }
    
    #nouveautes{
        width: 90%;
        margin: auto;
        text-align: center;
        height: 250px;
        gap: 5px;
    }

    .nouvelle p{
        text-align: center;
        margin: auto;
    }
}
/* ----------------------------------- FOOTER --------------------------------------------*/
#footer-block{
    background-color: #0097A7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}
.block-footer{
    display: flex;
    justify-content: center;
}
.block-footer > div > a:hover{
    color: #00834b;
    text-shadow: 0.1px 0.1px 0.1px black;
}
#droit-footer{
    margin-left: -10%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

#block-membres{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
}

#block-membres a{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
}
#block-contact{
    width: 12%;
}
#button-footer{
    width: 60%;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #a71100;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    cursor: pointer;
    background-color: #022e49;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

@media (max-width:1000px){

    #block-membres{
        flex-direction: row;
        align-items: flex-start;
    }
    #footer-block{
        flex-direction: column;
        gap: 20px;
    }
    #droit-footer{
        width: auto;
    }
    #button-footer{
        width: 80%;
    }
    #block-contact{
        width: 100%;
    }
}
/* ----------------------------------- JEUX -----------------------------------------------*/
#title-jeu-videos{
    margin-top: 0px;
    padding-top: 80px;
    text-align: center;
}

.block-jeu-ligne{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.block-jeu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
    padding: 10px;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.07);
}

.jeu-paragraphe-bouton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-image-game{
    height: 279px;
    box-shadow: 0px 6px 12.5px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.07);
}
.jeu-paragraphe-bouton p{
    width: 82%;
}
.jeu-paragraphe-bouton button{
    height: 40px;
}
.image-play{
    width: 35px;
}

header h1{
    text-align: center;
    color: red;
    margin-top: 0px;
    margin-bottom: 5px;
}
header p{
    text-decoration: underline;
    text-align: center;
    font-size: 1.1em;
    margin-top: 0px;
}
.board {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: stretch;
    max-width: 800px;
    margin: auto;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.tile {
    width: 150px;
    height: 150px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNW2NxEQxAKkQGQ1BLLIlIURnQANj_jatR-w&usqp=CAU") no-repeat center;
}

@media (max-width: 700px) {
    .tile {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 450px) {
    .tile {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 350px) {
    .tile {
        width: 50px;
        height: 50px;
    }
}


.tile.bomb {
    background: transparent;
    background-image: url('https://cdn.pixabay.com/photo/2017/01/31/16/59/bomb-2025548_1280.png');
    background-size: cover;
    
}

.tile.empty {
    background: transparent;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSENC5PZ7tr5Awm7bpvCFSpVLHcd2A4nKtkUA&usqp=CAU') no-repeat center;
    background-size: cover;
}


#tries {
  text-align: center;
}
@media (max-width: 1024px){
    .block-jeu-ligne{
        flex-direction: column;
        gap: 20px;
    }
    .block-jeu{
        width: 90%;
        margin: auto;
    }
}
*
#jeu-demineur{
    display: none;
}
#show-jeu{
    display: initial;
}
/* ----------------------------------- FORUM --------------------------------------------*/
#block-haut-forum{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 80px;
}

.block-top{
    width: 20%;
    text-align: center;
}
.block-search{
    width: 40%;
    text-align: center;
}
.style-button{
    width: 10%;
}
#search{
    display: flex;
    align-items: center;
}
#size-search{
    width: 60%;
}
.block-search > form > input{
    font-size: 1.1em;
}
.block-search > form > button{
    font-size: 1.1em;
}
#list-deroul > SELECT{
    width: 50%;
    font-size: 1.1em;
}
#block-file > button{
    font-size: 1.1em;
}
.block-file-forum{
    width: 88%;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
    border-radius: 5px;
    background-color: #8f8989;
    display: flex;
    flex-direction: column;
    color: black;
}
#block-ligne1{
    margin: 10px;
    font-size: 16px;
    display: flex;
    gap: 3%;
}
#block-ligne2{
    margin: 10px;
    font-size: 16px;
    display: flex;
    gap: 3%;
}
#block-ligne3{
    margin: 10px;
    font-size: 16px;
    display: flex;
    gap: 3%;
}
.forum-sujet{
    padding: 7px;
    width: 40%;
    border: solid 1px black;
    background-color: white;
}
.forum-id{
    padding: 7px;
    width: 15%;
    text-align: center;
    border: solid 1px black;
    background-color: white;
}
.forum-nom-jeu{
    padding: 7px;
    width: 25%;
    text-align: center;
    border: solid 1px black;
    background-color: white;
}
.forum-dernier-message{
    padding: 7px;
    width: 30%;
    text-align: center;
    border: solid 1px black;
    background-color: white;
}
.forum-qui{
    padding: 7px;
    width: 20%;
    border: solid 1px black;
    background-color: white;
}
.forum-quand{
    padding: 7px;
    width: 20%;
    border: solid 1px black;
    background-color: white;
}
.forum-quoi{
    padding: 7px;
    border: solid 1px black;
    background-color: white;
}
@media (max-width: 1024px){
    .block-search{
        width: 100%;
        text-align: center;
    }
    /* .block-search > form > input{
        width: 49%;
        margin-bottom: 4px;
    } */
    #list-deroul > SELECT{
        width: 60%;
        margin-bottom: 4px;
    }
    #block-file > button{
        width: 60%;
    }
    .forum-qui{
        width: 50%;
    }
    .forum-quand{
        width: 50%;
    }
    #block-haut-forum{
        flex-direction: column;
        gap: 7px;
    }
    .block-top{
        width: 100%;
    }
    /* .block-top h1{
        padding-top: 60px;
    } */
    #search{
        justify-content: center;
    }
    #size-search{
        width: 48%;
    }
    .style-button{
        width: 10%;
    }
}
/* ----------------------------------- PROFILE -------------------------------------------- */

#block-profile{
    width: 50%;
    height: 400px;
    margin: auto;
    margin-bottom: 97px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
}
#block-image-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

#block-image{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
#block-image button{
    height: 7%;
}
#block-image-info img{
    max-height: 50%;
}
/* #block-image select input{
    width: 60%;
    height: 8%;
} */
#block-image-info form{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
#block-image-info form > input{
    height: 10%;
}

#block-image-info form > textarea{
    height: 30%;
}

#validation{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    height: 6%;
}
#annulation{
    width: 50%;
    background:#a71100;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:1.2em;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#enregistrement{
    width: 50%;
    background:#a71100;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:1.2em;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#valide{
    width: 100%;
    background:#a71100;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:1.2em;
    transition: all 0.3s;
    margin-top:-4px;
}

#annulation:hover,#valide:hover,#enregistrement:hover{
    background:#00834b;
}
/* #block-description{
    width: 100%;
    height: 40%;
    background: red;
} */

#taille-text{
    resize: vertical;
}
#info-profil{
    display: flex;
    font-size: 14px;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

#info-profil p{
    font-size: 16px;
    padding: 15px 0;
}

.style-info{
    margin: 10px 0;
    padding: 5px 0;
    border: solid 1px black;
    background-color: white;
}

.modif-profil{
    width: 100%;
    height: 7%;
    background:#a71100;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:16px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
.modif-profil:hover{
    background:#00834b;
}
@media (max-width: 1000px){
    body{
        height: 100%;
    }
    #block-image-info{
        flex-direction: column;
    }
    #block-profile{
        width: 90%;
        height: auto;
    }
    #block-image{
        align-items: center;
        width: 100%;
        height: 180px;
        gap: 5%;
        margin-bottom: 20px;
    }
    #block-image-info img{
        max-height: 80%;
    }
    #block-image button{
        height: auto;
    }
    #info-profil{
        width: 100%;
    }
}
/* ----------------------------------- ADMIN -------------------------------------------- */

#title-admin{
    margin-top: 0px;
    padding-top: 80px;
    text-align: center;
    margin-bottom: 30px;
}

.admin-user{
    width: 85%;
    color: black;
    margin: auto;
    /* border: solid 1px black; */
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.07);
    background: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 5px;
}

.admin-user h2{
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
    background-color: #005f64;
    padding: 5px 0;
    margin: auto;
    margin-bottom: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.admin-user h3{
    width: 12%;
    margin: auto;
    font-size: 16px;
}
.admin-user p{
    width: 40%;
    margin: auto;
}
#size-description{
    font-weight: bold;
}
.admin-user img{
    width: 5%;
    padding: 4px;
}
.info-user{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    gap: 10px;
}

@media (max-width:1000px){
    #toi-cacher{
        display: none;
    }
    .info-user{
        flex-direction: column;
        text-align: justify;
        align-items: center;
    }
    .admin-user h3{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .admin-user p{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .admin-user img{
        width: 20%;
    }
}